<nz-steps [nzCurrent]="totalSteps" [nzProgressDot]="progressTemplate">
  <ng-container *ngFor="let item of steps; let idx = index">
    <nz-step  [nzTitle]="item.aName" [nzSubtitle]="item.result" [nzDescription]="tpl" >
    </nz-step>
    <ng-template #tpl>
      <p>{{ item.cName }}</p>
      <p>{{ item.cTime }}</p>
    </ng-template>
  </ng-container>
</nz-steps>
<ng-template #progressTemplate let-dot let-status="status" let-index="index">
            <span nz-popover nzContent="第 {{ index+1 }} 个审批，状态: {{memberApprovalNode(status)}}" style="margin-left: -100%;">
              <ng-template [ngTemplateOutlet]="dot"></ng-template>
            </span>
</ng-template>
